* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: white;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: linear-gradient(245.59deg, #FF1818 0%, #FFF783 43%, #FFFFFF 100%);
}
.page-header {
	height: 400px;
	padding-top: 50px;
	margin-bottom: 90px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(rgba(243, 88, 41, 0.9), rgba(255, 170, 65, 0.9)), url(../images/banner_img.jpg);
	background-attachment: fixed;
  }
  /* Custom styles for Car Booking section */
.car-booking-section {
	text-align: center;
	margin-top: 20px;
  }
  
  .car-booking-title {
	font-size: 60px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
  }
  
  .breadcrumb {
	font-size: 20px;
	color: #ccc;
  }
  
  .breadcrumb a {
	color: #fff;
	text-decoration: none;
  }
  
  .breadcrumb a:hover {
	text-decoration: underline;
  }
  
.logo {
    font-size: 30px;
    font-weight: 700;
    color: orange;
    font-style: italic;
}

.navlist {
    display: flex;
}

.navlist a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}


*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.heading{
	width:90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 20px auto;
}

.heading h1{
	font-size: 50px;
	color: #000;
	margin-top: 100px;
	margin-bottom: 25px;
	position: relative;
}
.heading h1::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	display: block;
	margin: 0 auto;
	background-color: #FF0000;
}

.heading p{
	font-size: 18px;
	color: #666;
	margin-bottom: 35px;
}

.container{
	width: 90%;
	margin: 0 auto;
	padding: 10px 20px;
}
.about{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.about-image{
	flex:1;
	margin-right: 40px;
	overflow:hidden;
}
.about-image img{
	max-width: 100%;
	height: auto;
	display: block;
	transition: 0.5s ease;
}
.about-image:hover img {
	transform: scale(1.2);
}
.about-content{
	flex: 1;
}
.about-content h2{
	font-size: 23px;
	margin-bottom: 15px;
	color:#333;
}
.about-content p{
	font-size: 18px;
	line-height:1.5;
	color: #666;
}
.about-content .read-more{
	display: inline-block;
	padding: 10px 20px;
	background-color: #ffA500;
	color: #fff;
	font-size:  19px;
	text-decoration: none;
	border-radius: 25px;
	margin-top: 15px;
	transition: 0.3s ease;
}
.about-content .read-more:hover{
	background-color: #3e8e41;
}

@media screen and (max-width: 768px){
	.heading{
		padding: 0px 20px;
	}
	.heading h1{
		font-size: 36px;
	}
	.heading p{
		font-size: 17px;
		margin-bottom: 0px;
	}
	.container{
		padding: 0px;
	}
	.about{
		padding: 20px;
		flex-direction: column;
	}
	.about-image{
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.about-content p{
		padding:0px;
		font-size: 16px;
	}
	.about-content .read-more{
		font-size: 16px;
	}
}

.center-text{
	width:90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 20px auto;
}
.center-text h2{
	font-size: 50px;
	color: #000;
	margin-top: 100px;
	margin-bottom: 25px;
	position: relative;
}
.center-text h2::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	display: block;
	margin: 0 auto;
	background-color: #FF0000;
}
.cars-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
}
.box {
    position: relative;
	margin-right: 10px;
}

.box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 40px;
    filter: brightness(70%);
    transition: all 0.3s cubic-bezier(0.499, 0.05, 0.55, 0.95);
    will-change: filter;
    display: block;
}
.box h6{
	color: white;
	position: absolute;
	left: 25px;
	bottom: 105px;
	font-size: 18px;
	font-weight: 500;
}
.box h4{
	color: white;
	position: absolute;
	left: 25px;
	bottom: 65px;
	font-size: 40px;
	font-weight: 700;
}
.box img:hover{
	filter: brightness(90%) hue-rotate(50deg);
	transform: scale(1.04);
	cursor: pointer;
}

.about-wrapper{
	margin-top: 50px;
    height: 100vh;
}
.about-left{
    background-color: #21D4FD;
    background: linear-gradient(245.59deg, #FF1818 0%, #FFF783 43%, #FFFFFF 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color:#fff
}
.about-left-content > div{
    background: #12192c;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
    
    border-radius: 12px 12px 0 0;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    border-radius: 12px;
    width:80%;
}
.about-img img{
    display: block;
    width: 200px;
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}



.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ff7221;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.icons{
    background: #12192c;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    border-radius: 0 0 12px 12px;
}
.icons li{
    list-style-type: none;
    background: #ffae21;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: #edffec;
    color: #000;
}
.about-right{
    background: #12192c;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
    color:#fff
}
.about-right h1{
    font-size: 5rem;
    text-transform: uppercase;
}
.about-right h1 span{
    color: #ff5121;
}
.about-right h2{
    font-weight: 600;
}
.about-btns{
    display: flex;
    margin: 2rem 0;
}
.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    color:#fff
}
.btn.btn-pink{
    background: #ff6b21;
    color: #fff;
    border-color: #ff2121;
    transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover{
    background: transparent;
    border-color: #fff;
    color: #fff;
}
.btn.btn-white{
    transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
    background: #ff5521;
    border-color: #ff7221;
    color: #fff;
}
.about-para p{
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}


.footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	padding: 100px;
	color: #FFFFFF;
	background-color: #FFA500;
}
.footer > *{
	flex: 1 50%;
}
.footer-left{
	margin-right: 1.25cm;
	margin-bottom: 2cm;
	line-height: 1;
}
.footer-left img{
	width:150px;
}
.h2{
	font-weight: 600;
	font-size: 17px;
	
}
.footer ul{
	list-style: none;
	padding-left: 0;
}
.footer li{
	line-height: 1cm;
}
.footer li h2 {
    color: black;
}
.footer a{
	text-decorations: none;
}
.footer-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
}
.footer-right > *{
	flex: 1 50%;
	margin-right: 1.25cm;
}
.box a{
	color: #FFFFFF;
}
.footer-bottom{
	text-align: center;
	color: #FFFFFF;
	padding-top: 50px;
}
.footer-left p{
	padding-right: 20%;
	color: #999;
}
.socials{
	padding: 20px; /* Add some padding to separate it from the paragraph */
	margin-top: 20px;
}
.socials a{
	background: #FF4500;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
}
.socials a i{
	color: #e7f2f4;
	padding: 10px 12px;
	font-size: 20px;
}
@media screen and (min-width: 600px){
	.footer-right > *{
		flex: 1;
	}
	.footer-left{
		flex: 1 0px;
	}
	.footer-right{
		flex: 2 opx;
	}
}

@media (max-width: 600px){
	.footer{
		padding: 15px;
	}
	main{
		font-size: 55px;
	}
}

