* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: white;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: linear-gradient(245.59deg, #FF1818 0%, #FFF783 43%, #FFFFFF 100%);
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: orange;
    font-style: italic;
}

.navlist {
    display: flex;
}

.navlist a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}


*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.heading{
	width:90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 20px auto;
}

.heading h1{
	font-size: 50px;
	color: #000;
	margin-top: 100px;
	margin-bottom: 25px;
	position: relative;
}
.heading h1::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	display: block;
	margin: 0 auto;
	background-color: #4caf50;
}

.heading p{
	font-size: 18px;
	color: #666;
	margin-bottom: 35px;
}

.container{
	width: 90%;
	margin: 0 auto;
	padding: 10px 20px;
}
.about{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.about-image{
	flex:1;
	margin-right: 40px;
	overflow:hidden;
}
.about-image img{
	max-width: 100%;
	height: auto;
	display: block;
	transition: 0.5s ease;
}
.about-image:hover img {
	transform: scale(1.2);
}
.about-content{
	flex: 1;
}
.about-content h2{
	font-size: 23px;
	margin-bottom: 15px;
	color:#333;
}
.about-content p{
	font-size: 18px;
	line-height:1.5;
	color: #666;
}
.about-content .read-more{
	display: inline-block;
	padding: 10px 20px;
	background-color: #ffA500;
	color: #fff;
	font-size:  19px;
	text-decoration: none;
	border-radius: 25px;
	margin-top: 15px;
	transition: 0.3s ease;
}
.about-content .read-more:hover{
	background-color: #3e8e41;
}

@media screen and (max-width: 768px){
	.heading{
		padding: 0px 20px;
	}
	.heading h1{
		font-size: 36px;
	}
	.heading p{
		font-size: 17px;
		margin-bottom: 0px;
	}
	.container{
		padding: 0px;
	}
	.about{
		padding: 20px;
		flex-direction: column;
	}
	.about-image{
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.about-content p{
		padding:0px;
		font-size: 16px;
	}
	.about-content .read-more{
		font-size: 16px;
	}
}
.footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	padding: 100px;
	color: #FFFFFF;
	background-color: #FFA500;
}
.footer > *{
	flex: 1 50%;
}
.footer-left{
	margin-right: 1.25cm;
	margin-bottom: 2cm;
	line-height: 1;
}
.footer-left img{
	width:150px;
}
.h2{
	font-weight: 600;
	font-size: 17px;
	
}
.footer ul{
	list-style: none;
	padding-left: 0;
}
.footer li{
	line-height: 1cm;
}
.footer li h2 {
    color: black;
}
.footer a{
	text-decorations: none;
}
.footer-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
}
.footer-right > *{
	flex: 1 50%;
	margin-right: 1.25cm;
}
.box a{
	color: #FFFFFF;
}
.footer-bottom{
	text-align: center;
	color: #FFFFFF;
	padding-top: 50px;
}
.footer-left p{
	padding-right: 20%;
	color: #999;
}
.socials{
	padding: 20px; /* Add some padding to separate it from the paragraph */
	margin-top: 20px;
}
.socials a{
	background: #FF4500;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
}
.socials a i{
	color: #e7f2f4;
	padding: 10px 12px;
	font-size: 20px;
}
@media screen and (min-width: 600px){
	.footer-right > *{
		flex: 1;
	}
	.footer-left{
		flex: 1 0px;
	}
	.footer-right{
		flex: 2 opx;
	}
}

@media (max width: 600px){
	.footer{
		padding: 15px;
	}
	main{
		font-size: 55px;
	}
}
