* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: white;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: linear-gradient(245.59deg, #FF1818 0%, #FFF783 43%, #FFFFFF 100%);
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: orange;
    font-style: italic;
}

.navlist {
    display: flex;
}

.navlist a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid white;
}



.title {
    margin: 0; 
    padding: 0; 
	font-size: 30px;
    font-weight: 600;
}


#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #FF1818 0%, #FFF783 43%, #FFFFFF 100%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section {
    padding: 0 19%;
}

.hero-text h5 {
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
    line-height: 1;
    color: red;
    margin: 0 0 45px;
}

.hero-text p {
    color: black;
    font-size: 15px;
    font-style: bold;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-img {
    width: 700px;
    height: auto;
}

.hero-text a {
    display: inline-block;
    color: black;
    background: #FFA500;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
}

.hero-text a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}


.about_section {
  background-color: #f8f8f8;
  padding: 150px 0;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}


.row {
  display: flex;
  align-items: center;
}


.col-md-6 {
  width: 50%;
  padding: 20px;
}


.about_taital {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 0;
  display: flex;
  align-items: center;
  padding: 75px 0;
}


.about_taital img {
  margin-right: 10px;
  max-width: 32px;
}


.about_text {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 15px;
}


.read_bt a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.read_bt a:hover {
  background-color: #0056b3;
}


.image_1 {
  max-width: 100%;
  height: auto;
}

